.home__bg {
    background-image: url(../../Utils/images/bg.png);
    height: 85vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.home-message-icon {
    margin-left: 10px;
    display: inline-block;
}

.bg{
    width: 100.5vw !important;
}